<div class="add_category_area" style="margin-left: 23%;">
				
		<div class="login_area" style=" width: 100%;">
			<h2 style="text-align:center; color:#FFF">Add Category</h2>
			<p class="error"><%= msg%></p>
			<form method="POST">
				<center>
					<input type="text" placeholder="Category Name" name="cat_title" /></br>
					
					
					<textarea name="short_desc"  placeholder="Description.." style="width:80%;height:100px;margin-top:10px;" ></textarea>
					
					
					<input type="submit" name="add_category_btn" id="add_category_btn" class="btn" value="Add"/>
					
				
				</center>
			</form>
		</div>
</div>