<div class="sign_area">
	<div class="login_area">
		<form method="POST">
			<center>
				<input type="text" placeholder="Enter Shipping Address" name="shipadd" /></br>
				<input type="text" placeholder="Enter Shipping Date" id="datepicker" name="shippingDate">
			
				
				<input type="submit" value="Confirm Order" name="order_btn" class="btn" id="order_btn" />
			
			</center>
		</form>
		<p><%= msg%></p>
	</div>
</div>