<div class="sign_area">
		<div class="login_area">
			<form method="POST">
				<center>
					<h2>Registration</h2>
					<input type="text" placeholder="Enter Name" name="name"/></br>
					
					<input type="text" placeholder="Enter Email" name="email"/></br>
					
					
					<input type="password" placeholder="Enter Password" name="password"/></br>
				
					
					<select class="gender_class" name="gender" >
						<option class="option_class" value="">Select Gender</option>
						<option class="option_class" value="male">Male</option>
						<option class="option_class" value="female">Female</option>
					</select></br>
					
					
					<input class="btn" type="submit" value="Sign Up"/>
					
					<a href="/login"><input class="btn" type="button" value="Back to Login" /></a>
				
				</center>
			</form>
		</div>
	</div>
