<div class="sign_area">
		<div class="login_area">
			<h2 class="error_msg">Oops! Something went wrong. Please insert proper data.</h2>
			<a href="/registration"><input style="margin-top: 10px; width: 200px;" class="btn" type="button" value="Go back to login" name="reg_btn" /></a>	
		</div>
	</div>
