<!DOCTYPE html>
<html>
<head>
	<title>Online Sopping | <%- title %></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">

	<script type="text/javascript" src="/ajax/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	
</head>
<body>
	<header class="menu">
	
		<div class="container">
			<div class="leftcontainer">
				<a href="/home" class="logo"><h2>haatbazar - International</h2></a>
			</div>
			<div class="rightcontainer">
				<ul>
					<li><a href="/home">home</a></li>
					<li><a href="#">For Men</a></li>
					<li><a href="#">For Female</a></li>
					<li><a href="#">Kid's Zone</a></li>
					<li><a href="#">Electronics</a></li>
					<li><a href="/user/cart"><img src="images/icons8-shopping-cart-24.png" class="cart"></a></li>
					<li><a href="/login">login</a></li>
				</ul>
			</div>
		</div>
	</header>
<%- content %>