<div class="container"> 
	<div class="row">
		<div class="col-md-12">
			<div class="sign_area">
				<div class="login_area">
					<form method="POST">
						<center>
							<h3>Sign In</h2>
							<input type="text" placeholder="Email" name="email"/></br>

							<input type="password" placeholder="Password" name="password"/></br>

							<input style="width:20px;margin-left:40px;display:inline-block;float:left;" type="checkbox"  name="remember" /><h3 style="float:left;color:#000;text-align:left;margin-top:15px;margin-left:10px; font-size: 16px;">Remember Me</h3></br>

							<table>
								<tr>
									<td ><input style="width: 100px;" class = "btn" type="submit" value="Login" name="login_btn"></td>
									<td><a href="/registration"><input style="margin-left: 30px; width: 100px;" class="btn" type="button" value="Register" name="reg_btn" /></a></td>
								</tr>
							</table>
						
						</center>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
